// place your custom styles here
// home style
#main-title {
	font-size: 5.6rem;
	text-shadow: rgba(158, 158, 158, 0.5) 5px 0 25px;
}

#main-description {
	text-align: center;
	font-size: 2.6rem;
	margin: auto;
	color: #A8A8A8;
	text-shadow: #000000 1px 0 15px;
}

.vp-hero-actions {
	text-align: center;
}

#navbar.vp-navbar {
	backdrop-filter: opacity(0.8) saturate(150%) blur(12px);
}

.theme-container.no-sidebar {
	background-image: url('https://files.catbox.moe/402nob.png');
}


.theme-container.has-toc {
	background: none;

	#navbar.vp-navbar {
		backdrop-filter: opacity(1) saturate(150%) blur(12px);
	}
}

.theme-hope-content:not(.custom)>.count-down {
	margin-top: -250px;
	z-index: 1000;
	position: relative;
}

// global
body,
html {
	// cursor: url(https://img.icons8.com/pastel-glyph/36/F25081/cursor--v1.png),auto;
	cursor: url("./star.png"), auto;
}

// @media
@media screen and (max-width:755px) {
	#main-title {
		font-size: 3.6rem;
	}

	#main-description {
		text-align: center;
		font-size: 1.6rem;
	}

	.theme-container.no-sidebar {
		background-position-x: 665px;
	}

	.theme-hope-content:not(.custom)>.count-down {
		margin-top: -260px;

		.title {
			font-size: 1.8rem;
		}

		.bar {
			font-size: 1.5rem;
		}
	}
}