// place your custom styles here
// home style
#main-title {
	font-size: 5.6rem;
		text-shadow: rgba(237, 68, 161, 0.5) 5px 0 25px;
}

#main-description {
	text-align: center;
	font-size: 2.6rem;
	margin: auto;
	color: #A8A8A8;
	text-shadow: #A8A8A8 1px 0 15px;
}

.vp-hero-actions {
	text-align: center;
}

#navbar.vp-navbar {
	backdrop-filter: opacity(0.8) saturate(150%) blur(12px);
}

.theme-container.no-sidebar {
	background-image: url('https://files.catbox.moe/d0s6zz.png');
}


.theme-container.has-toc {
	background: none;

	#navbar.vp-navbar {
		backdrop-filter: opacity(1) saturate(150%) blur(12px);
	}
}

// @media
@media screen and (max-width:425px) {
	#main-title {
		font-size: 3.6rem;
	}

	#main-description {
		text-align: center;
		font-size: 1.6rem;
	}
}