// place your custom styles here
// home style
#main-title {
	font-size: 5.6rem;
}

#main-description {
	text-align: center;
	font-size: 2.6rem;
	margin: auto;
	color: #A8A8A8;
	text-shadow: #A8A8A8 1px 0 1px;
}

.vp-hero-mask {
	filter: brightness(0.6) blur(0.8px);
}

.vp-hero-actions {
	text-align: center;
}

.vp-footer-wrapper {
	background-image: url("https: //files.catbox.moe/uei25u.jpg");
	background: none;
}

// @media
@media screen and (max-width:425px) {
	#main-title {
		font-size: 3.6rem;
	}

	#main-description {
		text-align: center;
		font-size: 1.6rem;
	}
}